In [21]:
import pandas as pd
import re

## 結合 Pandas 和 Series

In [27]:
df = pd.DataFrame({
    'A' : ['1.2>1.3>1.4(by 護理長)', '1.2>1.3>1.5', '1.2>1.3>1.9'],
    'B' : ['1.2>1.3>1.6', '1.2>1.3>1.7', '1.2>1.3>1.8(by 護理長)'],
})

df.head(2)

                     A            B
0  1.2>1.3>1.4(by 護理長)  1.2>1.3>1.6
1          1.2>1.3>1.5  1.2>1.3>1.7

### Pandas Series

In [28]:
strip_split_symbol = lambda x: re.sub(r'[^0-9.>]', '', x).split('>')[-1]

df['A'] = df['A'].apply(strip_split_symbol)

df.A

0    1.4
1    1.5
2    1.9
Name: A, dtype: object

### Pandas DataFrame

In [29]:
# with dataframe
for col in df.columns:
    df[col] = df[col].apply(strip_split_symbol)

In [30]:
df

     A    B
0  1.4  1.6
1  1.5  1.7
2  1.9  1.8